In [1]:
import oandapyV20

In [2]:
import oandapyV20.endpoints.instruments as instruments

In [3]:
client = oandapyV20.API(access_token="...")

In [4]:
params = {
  "count": 5,
  "granularity": "M5"
}

In [5]:
r = instruments.InstrumentsCandles(instrument="DE30_EUR", params=params)

In [6]:
client.request(r)

{'candles': [{'complete': True,
   'mid': {'c': '12662.5', 'h': '12663.5', 'l': '12658.8', 'o': '12662.5'},
   'time': '2017-07-14T19:35:00.000000000Z',
   'volume': 133},
  {'complete': True,
   'mid': {'c': '12657.8', 'h': '12664.4', 'l': '12657.5', 'o': '12662.5'},
   'time': '2017-07-14T19:40:00.000000000Z',
   'volume': 93},
  {'complete': True,
   'mid': {'c': '12657.5', 'h': '12659.0', 'l': '12656.5', 'o': '12657.8'},
   'time': '2017-07-14T19:45:00.000000000Z',
   'volume': 113},
  {'complete': True,
   'mid': {'c': '12652.0', 'h': '12658.5', 'l': '12650.9', 'o': '12657.5'},
   'time': '2017-07-14T19:50:00.000000000Z',
   'volume': 163},
  {'complete': True,
   'mid': {'c': '12649.8', 'h': '12652.0', 'l': '12647.9', 'o': '12652.0'},
   'time': '2017-07-14T19:55:00.000000000Z',
   'volume': 118}],
 'granularity': 'M5',
 'instrument': 'DE30_EUR'}

In [7]:
print(r.response)

{'instrument': 'DE30_EUR', 'granularity': 'M5', 'candles': [{'complete': True, 'volume': 133, 'time': '2017-07-14T19:35:00.000000000Z', 'mid': {'o': '12662.5', 'h': '12663.5', 'l': '12658.8', 'c': '12662.5'}}, {'complete': True, 'volume': 93, 'time': '2017-07-14T19:40:00.000000000Z', 'mid': {'o': '12662.5', 'h': '12664.4', 'l': '12657.5', 'c': '12657.8'}}, {'complete': True, 'volume': 113, 'time': '2017-07-14T19:45:00.000000000Z', 'mid': {'o': '12657.8', 'h': '12659.0', 'l': '12656.5', 'c': '12657.5'}}, {'complete': True, 'volume': 163, 'time': '2017-07-14T19:50:00.000000000Z', 'mid': {'o': '12657.5', 'h': '12658.5', 'l': '12650.9', 'c': '12652.0'}}, {'complete': True, 'volume': 118, 'time': '2017-07-14T19:55:00.000000000Z', 'mid': {'o': '12652.0', 'h': '12652.0', 'l': '12647.9', 'c': '12649.8'}}]}

In [8]:
import pandas as pd

In [9]:
pd.DataFrame(r.response['candles'][4])

   complete      mid                            time  volume
c      True  12649.8  2017-07-14T19:55:00.000000000Z     118
h      True  12652.0  2017-07-14T19:55:00.000000000Z     118
l      True  12647.9  2017-07-14T19:55:00.000000000Z     118
o      True  12652.0  2017-07-14T19:55:00.000000000Z     118

In [10]:
pd.DataFrame(r.response['candles'][0])

   complete      mid                            time  volume
c      True  12662.5  2017-07-14T19:35:00.000000000Z     133
h      True  12663.5  2017-07-14T19:35:00.000000000Z     133
l      True  12658.8  2017-07-14T19:35:00.000000000Z     133
o      True  12662.5  2017-07-14T19:35:00.000000000Z     133